.defaultDay{
    padding: 15px;
    font-weight: bold;
    font-size: 13px;
    cursor: pointer;
    color: #313131;
}

.otherDay{
    padding: 15px;
    font-weight: bold;
    font-size: 13px;
    cursor: pointer;
    color: #B3B3B3;
}

.defaultDay:hover, .otherDay:hover{
    background-color: #B3B3B3;
    color: #ffffff; 
}

.selectedDay{
    padding: 15px;
    font-size: 13px;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
}

.selectedYear{
    text-align: center;
    font-weight: bold;
    padding: 5px;
    font-size: 16px;
    cursor: pointer;
}

.defaultYear{
    color: #B3B3B3;
    text-align: center;
    font-weight: bold;
    padding: 5px;
    font-size: 13px;
    cursor: pointer;
}

.defaultTime{
    font-size: 12px;
    color: #B3B3B3;
    padding: 3px;
    font-weight: bold;
    cursor: pointer;
}

.selectedTime{
    font-size: 12px;
    padding: 3px;
    font-weight: bold;
    color: #ffffff;
}

.defaultAMPM{
    font-size: 12px;
    color: #B3B3B3;
    padding: 3px;
    margin: 3px;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid #FFFFFF;
}

.selectedAMPM{
    font-size: 12px;
    color: #B3B3B3;
    padding: 3px;
    margin: 3px;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid;
    border-radius: 2px;
}
